#### *Importing Libraries*

In [2]:
import pandas as pd
import numpy as np

#### *Loading Data*

In [2]:
data = pd.read_csv(r'F:\GUVI_DATA_SCIENCE\Charts\DataSets\ML\Copper_Set.xlsx - Result 1.csv')

C:\Users\Sukumar\AppData\Local\Temp\ipykernel_11176\3959450603.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(r'F:\GUVI_DATA_SCIENCE\Charts\DataSets\ML\Copper_Set.xlsx - Result 1.csv')

In [3]:
data.head()

,id,item_date,quantity tons,customer,country,status,item type,application,thickness,width,material_ref,product_ref,delivery date,selling_price
0,EC06F063-9DF0-440C-8764-0B0C05A4F6AE,20210401.0,54.151139,30156308.0,28.0,Won,W,10.0,2.00,1500.0,DEQ1 S460MC,1670798778,20210701.0,854.00
1,4E5F4B3D-DDDF-499D-AFDE-A3227EC49425,20210401.0,768.024839,30202938.0,25.0,Won,W,41.0,0.80,1210.0,0000000000000000000000000000000000104991,1668701718,20210401.0,1047.00
2,E140FF1B-2407-4C02-A0DD-780A093B1158,20210401.0,386.127949,30153963.0,30.0,Won,WI,28.0,0.38,952.0,S0380700,628377,20210101.0,644.33
3,F8D507A0-9C62-4EFE-831E-33E1DA53BB50,20210401.0,202.411065,30349574.0,32.0,Won,S,59.0,2.30,1317.0,DX51D+ZM310MAO 2.3X1317,1668701718,20210101.0,768.00
4,4E1C4E78-152B-430A-8094-ADD889C9D0AD,20210401.0,785.526262,30211560.0,28.0,Won,W,10.0,4.00,2000.0,2_S275JR+AR-CL1,640665,20210301.0,577.00

In [4]:
data.shape

(181673, 14)

##### *Data Preprocessing - Cleaning*

In [6]:
# Checking for null values

data.isnull().sum()

id                   2
item_date            1
quantity tons        0
customer             1
country             28
status               2
item type            0
application         24
thickness            1
width                0
material_ref     77919
product_ref          0
delivery date        1
selling_price        1
dtype: int64

In [8]:
data.shape

(181673, 14)

In [55]:
new_df = data.dropna(axis = 0)
new_df.isnull().sum()

id               0
item_date        0
quantity tons    0
customer         0
country          0
status           0
item type        0
application      0
thickness        0
width            0
material_ref     0
product_ref      0
delivery date    0
selling_price    0
dtype: int64

In [13]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103750 entries, 0 to 181672
Data columns (total 14 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             103750 non-null  object
 1   item_date      103750 non-null  float64
 2   quantity tons  103750 non-null  object
 3   customer       103750 non-null  float64
 4   country        103750 non-null  float64
 5   status         103750 non-null  object
 6   item type      103750 non-null  object
 7   application    103750 non-null  float64
 8   thickness      103750 non-null  float64
 9   width          103750 non-null  float64
 10  material_ref   103750 non-null  object
 11  product_ref    103750 non-null  int64
 12  delivery date  103750 non-null  float64
 13  selling_price  103750 non-null  float64
dtypes: float64(8), int64(1), object(5)
memory usage: 11.9+ MB

In [57]:
new_df['quantity tons'] = pd.to_numeric(new_df['quantity tons'],errors='coerce')
new_df['item_date'] = new_df['item_date'].astype(str).str[:4]
new_df['delivery date'] = new_df['delivery date'].astype(str).str[:4]

C:\Users\Sukumar\AppData\Local\Temp\ipykernel_11176\823005667.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Sukumar\AppData\Local\Temp\ipykernel_11176\823005667.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Sukumar\AppData\Local\Temp\ipykernel_11176\823005667.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [58]:
# Replace values starting with "000" with NaN
new_df.loc[new_df['material_ref'].str.startswith('000'), 'material_ref'] = np.nan

In [59]:
new_df.isnull().sum()

id                   0
item_date            0
quantity tons        0
customer             0
country              0
status               0
item type            0
application          0
thickness            0
width                0
material_ref     22735
product_ref          0
delivery date        0
selling_price        0
dtype: int64

In [60]:
new_df = new_df.dropna(how = 'any',axis = 0)

In [61]:
new_df.isnull().sum()

id               0
item_date        0
quantity tons    0
customer         0
country          0
status           0
item type        0
application      0
thickness        0
width            0
material_ref     0
product_ref      0
delivery date    0
selling_price    0
dtype: int64

In [62]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 81015 entries, 0 to 181605
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             81015 non-null  object
 1   item_date      81015 non-null  object
 2   quantity tons  81015 non-null  float64
 3   customer       81015 non-null  float64
 4   country        81015 non-null  float64
 5   status         81015 non-null  object
 6   item type      81015 non-null  object
 7   application    81015 non-null  float64
 8   thickness      81015 non-null  float64
 9   width          81015 non-null  float64
 10  material_ref   81015 non-null  object
 11  product_ref    81015 non-null  int64
 12  delivery date  81015 non-null  object
 13  selling_price  81015 non-null  float64
dtypes: float64(7), int64(1), object(6)
memory usage: 9.3+ MB

In [63]:
new_df = new_df.drop(['id','customer'],axis = 1)

In [52]:
new_df.head()

,item_date,quantity tons,country,status,item type,application,thickness,width,material_ref,product_ref,delivery date,selling_price
0,2021,54.151139,28.0,Won,W,10.0,2.00,1500.0,DEQ1 S460MC,1670798778,2021,854.00
2,2021,386.127949,30.0,Won,WI,28.0,0.38,952.0,S0380700,628377,2021,644.33
3,2021,202.411065,32.0,Won,S,59.0,2.30,1317.0,DX51D+ZM310MAO 2.3X1317,1668701718,2021,768.00
4,2021,785.526262,28.0,Won,W,10.0,4.00,2000.0,2_S275JR+AR-CL1,640665,2021,577.00
6,2021,3.522613,30.0,Draft,W,41.0,0.38,1125.0,NBW_L+_A_1125_0.4,611993,2021,18.00

In [74]:
new_df['quantity_tons'] = round(new_df['quantity tons'])
new_df['selling_price'] = round(new_df['selling_price'])

In [76]:
new_df = new_df.drop('quantity tons',axis = 1)

In [85]:
new_df.describe()

,country,application,thickness,width,product_ref,selling_price,quantity_tons
count,81015.000000,81015.000000,81015.000000,81015.000000,8.101500e+04,81015.000000,8.101500e+04
mean,45.630093,26.345924,2.298828,1287.294817,3.941850e+08,804.299969,1.244334e+04
std,24.320872,17.865929,2.941098,246.059333,6.748995e+08,368.081794,3.513316e+06
min,25.000000,2.000000,0.180000,20.500000,6.117280e+05,-1160.000000,0.000000e+00
25%,27.000000,10.000000,0.650000,1174.000000,6.119930e+05,656.000000,1.100000e+01
50%,30.000000,15.000000,1.420000,1250.000000,6.406650e+05,802.000000,3.000000e+01
75%,78.000000,41.000000,3.000000,1500.000000,1.641416e+08,937.000000,7.500000e+01
max,113.000000,79.000000,400.000000,2150.000000,1.721130e+09,81236.000000,1.000000e+09

In [77]:
new_df.columns

Index(['item_date', 'country', 'status', 'item type', 'application',
       'thickness', 'width', 'material_ref', 'product_ref', 'delivery date',
       'selling_price', 'quantity_tons'],
      dtype='object')

In [87]:
new_df = new_df.query("selling_price > 0")
new_df.head()

,item_date,country,status,item type,application,thickness,width,material_ref,product_ref,delivery date,selling_price,quantity_tons
0,2021,28.0,Won,W,10.0,2.00,1500.0,DEQ1 S460MC,1670798778,2021,854.0,54.0
2,2021,30.0,Won,WI,28.0,0.38,952.0,S0380700,628377,2021,644.0,386.0
3,2021,32.0,Won,S,59.0,2.30,1317.0,DX51D+ZM310MAO 2.3X1317,1668701718,2021,768.0,202.0
4,2021,28.0,Won,W,10.0,4.00,2000.0,2_S275JR+AR-CL1,640665,2021,577.0,786.0
6,2021,30.0,Draft,W,41.0,0.38,1125.0,NBW_L+_A_1125_0.4,611993,2021,18.0,4.0

In [88]:
new_df.shape

(81013, 12)

In [92]:
new_df.to_csv('Copper.csv',index = False)